mltbenv/*
config.py
token.pickle
rclone.conf
.netrc
log.txt
cfg.zip
accounts/*
thumbnails/*
rclone/*
tokens/*
sabnzbd/*
list_drives.txt
cookies.txt
downloads/*
*.session
config.env
__pycache__/
*.py[cod]
*.so
.idea/
.vscode/
venv/
*.log
credentials.json
config.env
enhancements.md
changes.md
start.bat
